/*Mixin*/
footer {
  color: whitesmoke;
  background-color: #D7CEC7;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: -10px;
  margin-top: -10px;
  width: 100%;
  transition: background-image 2s;
  bottom: 0;
  padding: 10px;
  font-family: "bebas neue", cursive;
}
footer a {
  text-decoration: none;
  color: #76323F;
}
footer:hover {
  background-image: linear-gradient(to bottom, #D7CEC7, #C09F80);
}
footer p {
  text-indent: 25px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
header {
  background-color: whitesmoke;
  color: #565656;
  text-align: start;
  padding: 50px;
  width: 100%;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.encabezado h1 {
  font-family: "Rock Salt", cursive;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  font-family: "bebas neue", cursive;
  width: 100%;
}
nav a {
  color: #565656;
  padding: 14px 20px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  nav .navcontainer {
    flex-direction: column;
  }
}

.principal {
  display: grid;
  grid-template-areas: "vino cerveza champagne bebidasblancas";
  justify-content: space-evenly;
  margin: auto;
  background-color: whitesmoke;
  padding: 50px;
  position: relative;
}
.principal .fotocatalogo {
  width: 300px;
  height: 400px;
  transition: opacity 1s;
}
.principal .fotocatalogo:hover {
  opacity: 70%;
  filter: blur(5px);
}
@media screen and (max-width: 768px) {
  .principal .fotocatalogo {
    width: 200px;
    height: 300px;
  }
}

ul {
  list-style: none;
}

.caja {
  position: relative;
  display: inline-block;
  justify-self: center;
  padding: 25px;
  margin-left: 0, 2%;
  left: 5%;
}
.caja .texto {
  position: absolute;
  top: 20%;
  font-family: "bebas neue", cursive;
  font-size: 60px;
  color: white;
  margin: 3%;
}
.caja .texto:hover {
  font-size: 70px;
}

/*Animacion*/
.barrel {
  -webkit-animation-name: barrel;
          animation-name: barrel;
  width: 100px;
  height: 100px;
  margin-top: -25px;
  margin-left: -30px;
  padding: 25px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes barrel {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes barrel {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background-color: #f5dd7b;
}
body main {
  position: relative;
  margin: auto;
  background-color: whitesmoke;
  font-family: "bebas neue", cursive;
}
body main .contenedorcentral {
  text-align: center;
  font-family: "bebas neue", cursive;
  display: grid;
  grid-template-areas: "titulo", "texto";
  align-items: start;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 5%;
}
body main #formulariodecontacto {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  padding-top: 5%;
}

main {
  color: #565656;
}

.navcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: whitesmoke;
  font-family: "bebas neue", cursive;
}/*# sourceMappingURL=main.css.map */