@import "masterstylesheet";

/*Mixin*/
@mixin fontandbackground {
    background-color: $blanco;
    font-family: $letradefault;
}

footer {
    color: $blanco;
    background-color: $colorfooter;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: -10px;
    margin-top: -10px;
    width: 100%;
    transition: background-image 2s;
    bottom: 0;
    padding: $step/10;
    font-family: $letradefault;
    a{
        text-decoration: none;
        color: $bordo;
    }
    &:hover {
        background-image: linear-gradient(to bottom,#D7CEC7,#C09F80);
    }
    p {
        text-indent: $step/4;
    }
}
@media screen and (max-width: 768px) {
    footer {flex-direction: column;
    }
}

header {
    background-color: $blanco;
    color: $grisoscuro;
    text-align: start;
    padding: $step/2;
    width: 100%;
}

.encabezado {
    justify-content: flex-start;
    flex-wrap: wrap;
    @extend nav;
    h1 {
        font-family: $fuentesecundaria;
    }
}

nav {
    display: flex;
    flex-direction: row;
    @include fontandbackground();
    width: 100%;
    a{
        color: $grisoscuro;
        padding: 14px 20px;
        text-decoration: none;
    }
    .navcontainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        @include fontandbackground();
    }
}
@media screen and (max-width: 768px) {
    .navcontainer {flex-wrap: wrap;
    }
}

.principal {
    display: grid;
    grid-template-areas: "vino cerveza champagne bebidasblancas";
    justify-content: space-evenly;
    margin: auto;
    background-color: $blanco;
    padding: $step/2;
    position: relative;
    .caja {
        position: relative;
        display: inline-block;
        padding: $step/4;
        margin-left: 0,2%;
        left: 5%;
        text-align: center;
        .texto {
            position: relative;
            top: 20%;
            font-family: $letradefault;
            font-size: 60px;
            color: $grisoscuro;
            margin: 3%;
            &:hover {
                font-size: 70px;
            }
        }
    }
    .fotocatalogo {
        width: $step * 3;
        height: $step * 4;
        transition: opacity 1s;
        &:hover {
            opacity: 70%;
            filter: blur(5px);
        }
        }
        @media screen and (max-width: 768px) {
            .fotocatalogo {width: $step * 2; height: $step * 3;
            }
    }
}

ul {
    list-style: none;
}

/*Animacion*/

.barrel {
    animation-name: barrel;
    width: $step;
    height: $step;
    margin-top: -25px;
    margin-left: -30px;
    padding: $step/4;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
    @keyframes barrel {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0deg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
        }
}

body{
    background-color: #f5dd7b;
    main {
        position: relative;
        margin: auto;
        @include fontandbackground();
        .contenedorcentral {
            text-align: center;
            font-family: $letradefault;
            display: grid;
            grid-template-areas: 
            "titulo",
            "texto",;
            align-items: start;
            margin: auto;
            padding-bottom: 20%;
            padding-top: 5%;
        }
        #formulariodecontacto {
            margin: auto;
            display: flex;
            justify-content: space-around;
            padding-bottom: 5%;
            padding-top: 5%;
        }
    }
}

@if $fondo == $blanco {
    main {color: $grisoscuro;}
} 

/*.principalindex {
    padding-bottom: 20%;
}*/